image:
  repository: ghcr.io/charan1926/devops-project
  tag: "CHANGE_ME_IN_PIPELINE"
  pullPolicy: IfNotPresent

replicaCount: 1
service:
  type: ClusterIP
  port: 8080
resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

container:
  command: ["/bin/sh","-c"]
  args: ["python3 -m http.server 8080"]
  env: []

readinessProbe:
  path: /
  port: 8080
livenessProbe:
  path: /
  port: 8080
